<page-header class="bg-blue-600"></page-header>
<div class="col-sm-12">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Assignment</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form ngForm #assignmentForm (submit)="onSubmit($event); assignmentForm.reset()" class="form-field-full">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date de rendu</mat-label>
          <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix></mtx-datetimepicker-toggle>
          <mtx-datetimepicker #datetimePicker startView="month" [timeInterval]="5">
          </mtx-datetimepicker>
          <input [mtxDatetimepicker]="datetimePicker" name="date" [(ngModel)]="dateDeRendu"
                 autocomplete="false" formControlName="dateTime" matInput required>
        </mat-form-field>


        <button mat-raised-button color="primary" class="m-t-8">Ajouter un devoir</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
